* {
  scroll-behavior: smotch;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  width: 100%;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
  color: currentColor;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 80px;
  }
}

body {
  font-family: 'Lilita One', 'Lora', sans-serif;
  background-color: $_beige;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// main {
//   padding-top: 300px;
// }