$_blue: #1FA3CD;
$_beige: #FAE6D9;
$_yellow: #FFBB21;
$_yellow2: #FBB242;
$_yellow3: #F6CC12;
$_violet: #FD74DE;
$_pink: #FE8D8F;
$_pink2: #FB8D81;
$_green: #5AE253;
$_black: #1F152D;
$_white: #FFFFFF;