$_blue: #1fa3cd;
$_beige: #fae6d9;
$_yellow: #ffbb21;
$_yellow2: #fbb242;
$_yellow3: #f6cc12;
$_violet: #fd74de;
$_pink: #fe8d8f;
$_pink2: #fb8d81;
$_pink3: #ee615b;
$_green: #5ae253;
$_black: #1f152d;
$_white: #ffffff;
