$_blue: #1fa3cd;
$_beige: #fae6d9;
$_yellow: #ffbb21;
$_yellow2: #fbb242;
$_yellow3: #f6cc12;
$_violet: #fd74de;
$_pink: #fe8d8f;
$_pink2: #fb8d81;
$_pink3: #ee615b;
$_green: #5ae253;
$_black: #1f152d;
$_white: #ffffff;

.header-life {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: url('/img/header/blue.png') top / cover no-repeat;
  background-position: 95% 100%;
  background-size: 140% 100%;
  z-index: 0;
}

.header {
  position: fixed;
  //   background-color: $_blue;
  color: $_white;
  width: 100%;
  display: flex;
  min-height: 140px;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  z-index: 100000;
  // background: url('/img/header/white.png') top / cover no-repeat;

  .header-wrapper {
    width: 100%;
    position: absolute;
    top: 20px;
    justify-content: space-between;
    align-items: center;
    left: 0;
    padding: 0 100px;
    display: flex;
  }

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .header-logo {
    z-index: 1;
    position: relative;
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .header-logo-text {
    font-weight: 700;
    text-transform: uppercase;
    color: $_yellow;
    margin-top: 10px;
    font-size: 20px;
    max-width: 510px;
    text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000,
      2px 2px 0 #000000, -2px 0px 0 #000000, 2px 0px 0 #000000,
      0px -2px 0 #000000, 0px 2px 0 #000000;
    margin-bottom: 0px;
    p:nth-child(1)::before {
      content: '';
      width: 73px;
      height: 20px;
      background: #ffffff98;
      backdrop-filter: blur(5px);
      box-shadow: 0 0 20px #fff;
      position: absolute;
      border-radius: 3px;
      transform: translateY(4px) translateX(-1px);
    }
    p:nth-child(2)::before {
      content: '';
      width: 130px;
      height: 20px;
      background: #ffffff98;
      backdrop-filter: blur(5px);
      box-shadow: 0 0 20px #fff;
      position: absolute;
      border-radius: 3px;
      transform: translateY(5px) translateX(-1px);
      z-index: 1;
    }

    p:nth-child(1) span {
      position: relative;
      color: $_pink3;
      z-index: 3;
    }

    p:nth-child(2) span {
      position: relative;
      color: #f3bb1e;
      z-index: 3;
    }
  }

  .header-logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1;
  }

  .header-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .header-nav-list {
      display: flex;
      gap: 20px;
      position: relative;
      z-index: 1;
      list-style: none;

      li a {
        font-family: 'Lora';
        color: $_white;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;

        &:hover {
          color: $_black;
        }
      }
    }
  }

  .header-menu-toggle:hover {
    span {
      background: $_black;
    }
  }
  .header-menu-toggle {
    display: flex;
    background: none;
    border: none;
    position: relative;
    flex-direction: column;
    font-size: 24px;
    color: $_white;
    z-index: 100;

    span {
      width: 100%;
      height: 4px;
      position: relative;
      border-radius: 10px;
      background: $_white;
      display: flex;
    }

    .header-fas {
      pointer-events: none;
    }
  }

  @media (max-width: 1200px) {
    .header-wrapper {
      padding: 0 16px;
    }
    .header-logo-text,
    .header-nav {
      display: none;
    }

    .header-menu-toggle {
      width: 40px;
      height: 40px;
      display: flex;
      z-index: 1000;
      flex-direction: column;
      justify-content: center;
      position: relative;
      gap: 7px !important;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    min-height: 240px;
  }
}

.header-mobile-menu.active {
  right: 300px;
  transition: opacity 0.3s ease;
  opacity: 1;
}
.header-mobile-nav {
  width: 100%;
}
.header-mobile-menu {
  position: fixed;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  right: -20px;
  background-color: $_blue;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
  transform: translateX(100%);
  padding: 20px;
  z-index: 100000;
  box-shadow: -10px 0 16px #fff;

  &.open {
    transform: translateX(0);
  }

  .header-close-menu:hover {
    span {
      background: $_black;
      transition: 0.4s ease;
    }
  }
  .header-close-menu {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 24px;
    color: $_white;
    position: relative;
    margin-left: auto;

    span {
      width: 100%;
      height: 4px;
      border-radius: 10px;
      transition: 0.4s ease;
      background: $_white;
      position: absolute;
    }

    span:nth-child(1) {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      transform: rotate(315deg);
    }
  }

  .header-mobile-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 40px;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;

    li a {
      color: $_white;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $_black;
      }
    }
  }
}
