.header-life {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: -44px;
}

@media (min-width: 1200px) {
  .header-life {
    margin-top: 0px;
  }
}

.header.container::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/header/headerm.png');
  background-repeat: no-repeat;


}

@media (min-width: 1200px) {
  .header.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140%;
    transform: rotate(180deg);
    background: url('/img/footer/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.header.container {
  position: fixed;
  color: $_white;
  top: 0;
  width: 100%;
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  z-index: 100000;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1200px) {
  .header.container {
    max-width: 1200px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.header-wrapper {
  width: 100%;
  // position: absolute;
  // top: 6px;
  justify-content: space-between;
  align-items: center;
  left: 0;
  // padding: 0 100px;
  display: flex;
}


.header-logo-text {
  p:nth-child(1)::before {
    content: '';
    width: 73px;
    height: 20px;
    background: #ffffff98;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px #fff;
    position: absolute;
    border-radius: 3px;
    transform: translateY(4px) translateX(-1px);
  }

  p:nth-child(2)::before {
    content: '';
    width: 130px;
    height: 20px;
    background: #ffffff98;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px #fff;
    position: absolute;
    border-radius: 3px;
    transform: translateY(5px) translateX(-1px);
    z-index: 1;
  }

  p:nth-child(1) span {
    position: relative;
    color: $_pink3;
    z-index: 3;
  }

  p:nth-child(2) span {
    position: relative;
    color: #f3bb1e;
    z-index: 3;
  }
}

.header-logo-block {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.header-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .header-nav-list {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 1;
    list-style: none;
    align-items: center;

    li a {
      font-family: 'Lora';
      color: $_white;
      text-decoration: none;
      font-weight: 600;
      font-size: 20px;

      transition: all 0.3s ease-in-out;

      &:hover {
        color: $_black;
      }

      &:active {
        text-shadow: 0 4px 6px $_white;
      }
    }
  }
}

.header-menu-toggle:hover {
  span {
    background: $_black;
  }
}

.header-menu-toggle:active span {
  box-shadow: 0 4px 6px $_white;
}

.header-menu-toggle {
  display: flex;
  background: none;
  border: none;
  position: relative;
  flex-direction: column;
  font-size: 24px;
  color: $_white;
  z-index: 100;

  span {
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 10px;
    background: $_white;
    display: flex;
  }

  .header-fas {
    pointer-events: none;
  }
}

@media (max-width: 1200px) {
  .header-wrapper {
    padding: 0 16px;
  }

  .header-logo-text,
  .header-nav {
    display: none;
  }

  .header-menu-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 7px !important;
  }
}


@media (min-width: 1200px) {
  .header {
    min-height: 240px;
  }
}

.header-mobile-menu.active {
  right: 300px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.header-mobile-nav {
  width: 100%;
}

.header-mobile-menu {
  position: fixed;
  top: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  right: -20px;
  background-color: $_blue;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
  transform: translateX(100%);
  padding: 20px;
  z-index: 100000;
  box-shadow: -10px 0 16px #fff;

  &.open {
    transform: translateX(0);
  }

  .header-close-menu:hover {
    span {
      background: $_black;
      transition: 0.4s ease;
    }
  }

  .header-close-menu {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 24px;
    color: $_white;
    position: relative;
    margin-left: auto;

    span {
      width: 100%;
      height: 4px;
      border-radius: 10px;
      transition: 0.4s ease;
      background: $_white;
      position: absolute;
    }

    span:nth-child(1) {
      transform: rotate(45deg);
    }

    span:nth-child(2) {
      transform: rotate(315deg);
    }
  }
}

.header-mobile-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 94px;
  // font-size: 1.3em;
  transition: all 0.3s ease-in-out;

  li a {
    color: $_white;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Lora', sans-serif;

    &:hover {
      color: $_black;
    }

    &:active {
      text-shadow: 0 4px 6px $_white;
    }
  }
}

.header-logo-text {
  font-family: 'Lilita One', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #ee615b;
  filter: drop-shadow(0 4px 3px rgba(255, 255, 255, 1));
  text-shadow: rgb(41, 25, 55) 1px 0px 0px,
    rgb(41, 25, 55) 0.540302px 0.841471px 0px,
    rgb(41, 25, 55) -0.416147px 0.909297px 0px,
    rgb(41, 25, 55) -0.989992px 0.14112px 0px,
    rgb(41, 25, 55) -0.653644px -0.756802px 0px,
    rgb(41, 25, 55) 0.283662px -0.958924px 0px,
    rgb(41, 25, 55) 0.96017px -0.279415px 0px;

  width: 70px;
  margin-top: 8px;

  span {
    color: #f3bb1e;
  }
}

.header-logo-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.header-logo {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .header-logo-img {
    width: 67px;
    height: 67px;
  }

  .header-logo {
    margin-top: 16px;
  }
}