.hero {
    display: flex;
    flex-direction: row-reverse;
}

// ......................................................
.hero-wrapper {
    position: relative;
    padding-top: 236px;
}

@media screen and (min-width: 1200px) {
    .hero-wrapper {
        padding-top: 40px;
    }
}

// ........................................................
.hero-wrapper-img {
    display: flex;
    flex-direction: row;
}

// .....................................................
.hero-wrapper-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    max-width: 288px;
    margin-left: auto;
    margin-right: 0;

}

@media screen and (min-width: 1200px) {
    .hero-wrapper-text {
        gap: 48px;
        max-width: 510px;
    }
}

// ..........................................................
.hero-wrapper-girl {
    position: absolute;
    top: 0px;
    left: -8px;
    z-index: 50;
    animation: slideIn 1200ms ease-in-out forwards;
}

@media screen and (min-width: 1200px) {
    .hero-wrapper-girl {
        top: -40px;
        left: -73px;
        width: 322px;
        height: 520px;
        animation: slideIn 1200ms ease-in-out forwards;
    }
}

@keyframes slideIn {
    from {
        left: -27px;
    }

    to {
        left: -8px;
    }
}

@media screen and (min-width: 1200px) {
    @keyframes slideIn {
        from {
            left: -73px;
        }

        to {
            left: 0px;
        }
    }
}

// ........................................................
.hero-wrapper-phoneleft {
    position: absolute;
    top: 10px;
    right: 121px;
    z-index: 49;
    animation: slidePhoneLeft 1200ms ease-in-out forwards;
}

@media screen and (min-width: 1200px) {
    .hero-wrapper-phoneleft {
        top: 41px;
        left: 101px;
        width: 148px;
        height: 361px;
        animation: slidePhoneLeft 1200ms ease-in-out forwards;
    }
}

@keyframes slidePhoneLeft {
    from {
        right: 121px;
    }

    to {
        right: 76px;
    }
}

@media screen and (min-width: 1200px) {
    @keyframes slidePhoneLeft {
        from {
            left: 101px;
        }

        to {
            left: 248px;
        }
    }
}

// ...........................................................
.hero-wrapper-phoneright {
    position: absolute;
    top: 2px;
    right: -12px;
    z-index: 48;
    animation: slidePhoneRight 1200ms ease-in-out forwards;
}

@media screen and (min-width: 1200px) {
    .hero-wrapper-phoneright {
        top: 25px;
        left: 403px;
        width: 147px;
        height: 357px;
        animation: slidePhoneRight 1200ms ease-in-out forwards;
    }
}

@keyframes slidePhoneRight {
    from {
        right: -12px;
    }

    to {
        right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    @keyframes slidePhoneRight {
        from {
            left: 403px;
        }

        to {
            left: 370px;
        }
    }
}

// ...............................................................
.hero-title {
    font-family: "Lilita One", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: $_pink2;
    opacity: 0;
    animation: fadeIn 1200ms ease-in-out forwards;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-shadow:
        -5px -5px 0 #000000,
        5px -5px 0 #000000,
        -5px 5px 0 #000000,
        5px 5px 0 #000000,
        -5px 0px 0 #000000,
        5px 0px 0 #000000,
        0px -5px 0 #000000,
        0px 5px 0 #000000;
    max-width: 212px;
    margin-bottom: 16px;

    span {
        color: $_yellow3;

    }
}

@media screen and (min-width: 1200px) {
    .hero-title {
        font-size: 64px;
        max-width: 510px;
        text-shadow:
            -6px -6px 0 #000000,
            6px -6px 0 #000000,
            -6px 6px 0 #000000,
            6px 6px 0 #000000,
            -6px 0px 0 #000000,
            6px 0px 0 #000000,
            0px -6px 0 #000000,
            0px 6px 0 #000000;
        margin-bottom: 0px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// ..........................................................
.hero-text {
    font-family: "Lora", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #251834;
    max-width: 288px;
    margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
    .hero-text {
        font-size: 32px;
        max-width: 510px;
        margin-bottom: 0px;

    }
}

// ............................................................
.hero-btn-link {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #251834;
    border-radius: 25px;
    background-color: $_white;
    width: 288px;
    height: 65px;
    font-weight: 400;
    font-size: 24px;
    color: #1e1e1e;
    transition: border 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.hero-btn-link:active {
    box-shadow: 5px 5px 10px 0 #fff;
}

.hero-btn-link:focus,
.hero-btn-link:hover {
    border: 7px solid #251834;
}


.hero-btn-link-svg {
    margin-right: 12px;
}