.modders-circle {
    background-color: rgb(253, 116, 222);
    box-shadow: 0 0 8px 12px rgb(253, 116, 222), 0 0 5px 24px #ffffffbb, 0 0 16px 43px #fae6d9;
}

.modders-content {
    background: linear-gradient(270deg, #fae6d9 15%, #FD74DE 100%);
}