.day .mySwiper::before {
    content: '';
    position: absolute;
    display: block;
    width: 466px;
    height: 263px;
    background: rgba(252, 154, 30, 0.6);
    opacity: 0.4;
    filter: blur(50px);
    border-radius: 15px;
    top: -50px;
    left: -200px;
    z-index: -1;

}

.day-circle {
    background-color: rgb(251, 178, 66);
    box-shadow: 0 0 8px 12px rgb(251, 178, 66), 0 0 5px 24px #ffffffbb, 0 0 16px 43px #fae6d9;
}

.day-content {
    background: linear-gradient(270deg, #fae6d9 15%, #FBB242 100%);
}

.day-btn {
    margin: 0 auto;
    margin-top: 80px;
}

.padding-dif {
    padding: 0 0 0 48px;
}

@media screen and (min-width: 1200px) {
    .padding-dif {
        padding: 0 0 0 89px;
    }
}