.day-circle {
    background-color: rgb(251, 178, 66);
    box-shadow: 0 0 8px 12px rgb(251, 178, 66), 0 0 5px 24px #ffffffbb, 0 0 16px 43px #E6Cbbc;
}

.day-content {
    background: linear-gradient(270deg, #e6cbbb 15%, #FBB242 100%);
}

.day-btn {
    margin: 0 auto;
    margin-top: 80px;
}