.terms {
    padding: 48px;
}

.back-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #251834;
    margin-top: 48px;
}

.terms-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    color: #251834;
    margin-bottom: 51px;
    margin-top: 100px;
}

.content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #251834;
}

.content-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #251834;
}

.terms-list {
    list-style: circle;
}

.mb {
    margin-bottom: 18px;
}