.footerok .container {
  padding: 38px 0 16px 0;
  text-align: center;
  background: url('/img/footer/footer-groop-mini.png') top / cover no-repeat;
}

@media screen and (min-width: 1200px) {
  .footerok .container {
    padding: 80px 0 32px 0;
    background: url('/img/footer/footer.png') top / cover no-repeat;
  }
}

.footer-nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .footer-nav-list {
    gap: 8px;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {

      a,
      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        font-family: "Lora", sans-serif;
        color: $_white;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}


@media screen and (min-width: 1200px) {
  .footer-nav-list {
    flex-direction: row;
    gap: 16px;
    display: flex;
    font-size: 20px;

    li {

      a,
      p {
        font-size: 20px;
        line-height: 20px;
      }
    }

    .footer-span {
      height: 16px;
      display: inline-block;
      width: 1px;
      height: 16px;
      background-color: $_white;
      margin: 0 8px;
    }
  }
}

.footerok-text {
  font-size: 14px !important;
}

@media screen and (min-width: 1200px) {
  .footerok-text {
    font-size: 20px !important;
  }

  .footerok-link {
    font-size: 20px !important;
  }
}