$_blue: #1fa3cd;
$_beige: #fae6d9;
$_yellow: #ffbb21;
$_yellow2: #fbb242;
$_yellow3: #f6cc12;
$_violet: #fd74de;
$_pink: #fe8d8f;
$_pink2: #fb8d81;
$_pink3: #ee615b;
$_green: #5ae253;
$_black: #1f152d;
$_white: #ffffff;

.cookies-modal::after {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  background: linear-gradient(0deg, #000, transparent);
  width: 100%;
  height: 400px;
  z-index: 1;
}
.cookies-modal::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/img/cookmodal/modal.png') top / cover no-repeat;
  // background-position: 95% 100%;
  // background-size: 140% 100%;
  z-index: -1;
  opacity: 1;
  z-index: 100;
}

.cookies-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10000;

  .container {
    padding: 60px 20px 40px;
    z-index: 1000;
    position: relative;
  }

  .modal-title {
    color: $_white;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    font-family: 'Lilita One', sans-serif;
    margin-bottom: 16px;
  }

  .modal-text {
    font-family: 'Lora', sans-serif;
    font-weight: 500px;
    color: $_white;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
    text-align: center;
  }

  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .modal-button {
      font-family: 'Lora', sans-serif;
      background-color: #efefef;
      color: #251834;
      border: 2px solid #1f152d;
      border-radius: 25px;
      width: 280px;
      height: 70px;
      transition: all 0.3s ease;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      text-align: center;

      &:hover {
        background-color: $_beige;
      }
    }
  }
}

@media (min-width: 1200px) {
  .modal-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
  }
  .modal-text {
    font-size: 16px;
  }
}
