.container.section {
    position: relative;
    margin-top: 59px;
    margin-bottom: 93px;
}

// ..........................................

// .................................................
.diaries-maintitle {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #251834;
    margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
    .diaries-maintitle {
        font-size: 48px;
        margin-bottom: 40px;
    }
}

// ............................................................
.diaries-secondtitle {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #251834;
    width: 288px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    span {
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    .diaries-secondtitle {
        font-size: 16px;
        width: 864px;
        margin-bottom: 32px;

        span {
            font-weight: 700;
        }
    }
}

// ............................................................

.mySwiper {
    // width: 288px;
    width: 200px;
    z-index: 10;
}

@media screen and (min-width: 1200px) {
    .mySwiper {
        width: 400px;

    }
}

// .swiper-wrapper::before {
//     content: '';
//     position: absolute;
//     display: block;
//     width: 466px;
//     height: 263px;
//     background: rgba(44, 201, 67, 0.6);
//     opacity: 0.4;
//     filter: blur(50px);
//     border-radius: 15px;
//     top: -30px;
//     left: -250px;
//     z-index: 2;

// }

// ................................................................
.diaries-list {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px 140px;
    margin-bottom: 32px;
    padding-left: 96px;
}

// .card-1 {
//     margin-left: 96px;
//     justify-self: start;
// }

// .card-2 {
//     justify-self: end;
//     margin-right: 240px;
// }

// .card-3 {
//     justify-self: start;
//     margin-left: 340px;
// }

// .card-4 {
//     justify-self: end;
// }

.diaries-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// ............................................................
.diaries-item-title {
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #251834;
    z-index: 5;
}

@media screen and (min-width: 1200px) {
    .diaries-item-title {
        font-size: 16px;

    }
}

// .........................................................
.diaries-item-text {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: #251834;
}

@media screen and (min-width: 1200px) {
    .diaries-item-text {
        font-size: 16px;

    }
}

// .............................................................
.diaries-item-circle {
    position: absolute;
    left: -96px;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    width: 122px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    // .....................................................
    // background-color: #9af995;
    // outline: 10px solid #e6cbbb;
    // filter: blur(10px);

}

@media screen and (min-width: 1200px) {
    .diaries-item-circle {
        left: -90px;
        top: 50%;
        transform: translateY(-50%);
        width: 160px;
        height: 160px;
        background-image: url(../../img/diaries/Ellipse\ 1.png);
    }
}


// ...............................................................

.diaries-item-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 216px;
    height: 143px;
    padding: 0 24px 0 65px;
    background: linear-gradient(270deg, #e6cbbb 15%, #4be243 100%);

}

@media screen and (min-width: 1200px) {
    .diaries-item-content {
        width: 265px;
        height: 176px;
        padding: 0 10px 0 89px;
        // background-image: url(../../img/diaries/Rectangle\ 23.png);
        // background-position: center;
        // background-size: cover;
    }
}

// ......................................................................
.diaries-text-action {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #251834;
}

@media screen and (min-width: 1200px) {
    .diaries-text-action {
        font-size: 16px;
        margin-bottom: 32px;
        z-index: 3;
    }
}