<div class="header-wrapper">
  <div class="container header-life">
    <div class="header-logo">
      <img src="/img/header/header.logo1x.png" srcset="
            /img/header/header.logo1x.png 1x,
            /img/header/header.logo2x.png 2x
          " alt="logo" width="50" height="50" />
      <div class="header-logo-text">
        <p>
          <span>Merge</span>
        </p>
        <p>
          <span>Dreamland</span>
        </p>
      </div>
    </div>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#">Developer <br> Diaries</a></li>
        <li><a href="#">Developers'<br> Favorite Games</a></li>
        <li><a href="#">Modders Corner</a></li>
        <li><a href="#">About the Game</a></li>
        <li><a href="#">Day in the Game</a></li>
      </ul>
    </nav>
    <button class="header-menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-mobile-menu" id="mobile-menu">
    <button class="header-close-menu" id="close-menu">
      <span></span>
      <span></span>
    </button>
    <nav class="header-mobile-nav">
      <ul class="header-mobile-nav-list">
        <li><a href="#">Developer Diaries</a></li>
        <li><a href="#">Developers' Favorite Games</a></li>
        <li><a href="#">Modders Corner</a></li>
        <li><a href="#">About the Game</a></li>
        <li><a href="#">Day in the Game</a></li>
      </ul>
    </nav>

    </div>
  </div>
  
</div>
</header>

