<div class="header-wrapper">
  <div class="header-life">
    <a href="index.html" class="header-logo">
      <img src="/img/header/header.logo1x.png" srcset="
                  /img/header/header.logo1x.png 1x,
                  /img/header/header.logo2x.png 2x
                " alt="logo" width="40" height="40" class="header-logo-img" />
      <p class="header-logo-text">Merge<br><span class="header-logo-span">Dreamland</span></p>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li><a href="#section-diaries">Developer <br> Diaries</a></li>
        <li><a href="#section-developers">Developers'<br> Favorite Games</a></li>
        <li><a href="#section-modders">Modders Corner</a></li>
        <li><a href="#section-about">About the Game</a></li>
        <li><a href="#section-day">Day in the Game</a></li>
      </ul>
    </nav>
    <button class="header-menu-toggle" id="menu-toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header-mobile-menu" id="mobile-menu">
      <button class="header-close-menu" id="close-menu">
        <span></span>
        <span></span>
      </button>
      <nav class="header-mobile-nav">
        <ul class="header-mobile-nav-list">
          <li><a href="#section-diaries">Developer Diaries</a></li>
          <li><a href="#section-developers">Developers' <br> Favorite Games</a></li>
          <li><a href="#section-modders">Modders Corner</a></li>
          <li><a href="#section-about">About the Game</a></li>
          <li><a href="#section-day">Day in the Game</a></li>
        </ul>
      </nav>

    </div>
  </div>

</div>
</header>