<section class="hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="hero-wrapper-img">
                <picture>
                    <source srcset="/img/hero/hero-girl@1x.png 1x, 
                                            /img/hero/hero-girl@2x.png 2x" media="(min-width: 1200px)" />
                    <img loading="lazy" src="/img/hero/hero-girl@1x.png" srcset="/img/hero/hero-girl@1x.png 1x, 
                                /img/hero/hero-girl@2x.png 2x" alt="Lovely girl" width="156" height="252"
                        class="hero-wrapper-girl" />
                </picture>
                <picture>
                    <source srcset="
                                    /img/hero/hero-phone-left@1x.png 1x,
                                    /img/hero/hero-phone-left@2x.png 2x" media="(min-width: 1200px)" />
                    <img loading="lazy" src="/img/hero/hero-phone-left@1x.png" srcset="
                                    /img/hero/hero-phone-left@1x.png 1x, 
                                    /img/hero/hero-phone-left@2x.png 2x" alt="Phone with screenshot of game" width="92"
                        height="223" class="hero-wrapper-phoneleft" />
                </picture>
                <picture>
                    <source srcset="
                                                /img/hero/hero-phone-right@1x.png 1x,
                                                /img/hero/hero-phone-right@2x.png 2x" media="(min-width: 1200px)" />
                    <img loading="lazy" src="/img/hero/hero-phone-right@1x.png" srcset="
                                                /img/hero/hero-phone-right@1x.png 1x,
                                                /img/hero/hero-phone-right@2x.png 2x"
                        alt="Phone with screenshot of game 2" width="91" height="221" class="hero-wrapper-phoneright" />
                </picture>
            </div>
            <div class="hero-wrapper-text">
                <h1 class="hero-title">Merge <span>Dreamland</span></h1>
                <p class="hero-text">Enchanting and whimsical theme, reflecting the dreamlike aesthetic of the game</p>
                <a class="hero-btn-link" target="_blank"
                    href="https://play.google.com/store/apps/details?id=com.zymobile.merge.magical.gp&hl=en&pli=1">
                    <svg class="hero-btn-link-svg" width="24" height="26.5">
                        <use href="/img/sprite.svg#icon-icon-google-play"></use>
                    </svg>Google Play
                </a>
            </div>
        </div>

    </div>
</section>