<section class="developer-diaries">
    <div class="container">
        <div class="diaries-wrapper">
            <h2>Developer Diaries</h2>
            <p><b>A Behind-the-Scenes Look at the Creation of Merge Dreamland</b></p>
            <p>Our development team believes in transparency and engagement. This section is a live blog where we share
                our biggest victories, struggles, and everyday life in game development. Here’s what you can expect:</p>
        </div>
    </div>
</section>