<section class="diaries">
    <div class="container section">
        <h2 class="diaries-maintitle">Developer Diaries</h2>
        <p class="diaries-secondtitle"><span>A Behind-the-Scenes Look at the Creation of Merge Dreamland</span><br>
            Our development team believes in transparency and engagement. This section is a live blog where we share our
            biggest
            victories, struggles, and everyday life in game development. Here’s what you can expect:
        </p>
        <ul class="diaries-list">
            <li class="diaries-item card-1">
                <div class="diaries-item-circle">
                    <h3 class="diaries-item-title">Weekly<br>
                        Updates</h3>
                </div>
                <div class="diaries-item-content">
                    <p class="diaries-item-text">Insights into upcoming features, bug fixes, and behind-the-scenes
                        stories.
                    </p>
                </div>
            </li>


            <li class="diaries-item card-2">
                <div class="diaries-item-circle">
                    <h3 class="diaries-item-title">Design<br>
                        Challenges</h3>
                </div>
                <div class="diaries-item-content">
                    <p class="diaries-item-text">How we bring the dreamy visuals and smooth mechanics to life.</p>
                </div>
            </li>


            <li class="diaries-item card-3">
                <div class="diaries-item-circle">
                    <h3 class="diaries-item-title">Feature<br> Spotlights</h3>
                </div>
                <div class="diaries-item-content">
                    <p class="diaries-item-text">In-depth explanations of the most exciting gameplay mechanics.</p>
                </div>
            </li>


            <li class="diaries-item card-4">
                <div class="diaries-item-circle">
                    <h3 class="diaries-item-title">Team<br> Anecdotes</h3>
                </div>
                <div class="diaries-item-content">
                    <p class="diaries-item-text">Funny, quirky, and sometimes chaotic moments from our development
                        journey.
                    </p>
                </div>
            </li>
        </ul>
        <p class="diaries-text-action">Follow along as we continue to build and refine the magical world of Merge
            Dreamland!
        </p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="../img/diaries/1-1@1x.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/diaries/1-2@1x.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/diaries/1-3@1x.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="../img/diaries/1-4@1x.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
</section>