<section class="diaries">
    <div class="container section">
        <h2 class="maintitle">Developer Diaries</h2>
        <p class="secondtitle"><span>A Behind-the-Scenes Look at the Creation of Merge Dreamland</span><br>
            Our developmesnt team believes in transparency and engagement. This section is a live blog where we share
            our
            biggest
            victories, struggles, and everyday life in game development. Here’s what you can expect:
        </p>
        <ul class="list">
            <li class="item card-1">
                <div class="item-circle diaries-circle">
                    <h3 class="item-title">Weekly<br>
                        Updates</h3>
                </div>
                <div class="item-content diaries-content">
                    <p class="item-text">Insights into upcoming features, bug fixes, and behind-the-scenes
                        stories.
                    </p>
                </div>
            </li>


            <li class="item card-2">
                <div class="item-circle diaries-circle">
                    <h3 class="item-title">Design<br>
                        Challenges</h3>
                </div>
                <div class="item-content diaries-content">
                    <p class="item-text">How we bring the dreamy visuals and smooth mechanics to life.</p>
                </div>
            </li>


            <li class="item card-3">
                <div class="item-circle diaries-circle">
                    <h3 class="item-title">Feature<br> Spotlights</h3>
                </div>
                <div class="item-content diaries-content">
                    <p class="item-text">In-depth explanations of the most exciting gameplay mechanics.</p>
                </div>
            </li>


            <li class="item card-4">
                <div class="item-circle diaries-circle">
                    <h3 class="item-title">Team<br> Anecdotes</h3>
                </div>
                <div class="item-content diaries-content">
                    <p class="item-text">Funny, quirky, and sometimes chaotic moments from our development
                        journey.
                    </p>
                </div>
            </li>
        </ul>
        <p class="text-action">Follow along as we continue to build and refine the magical world of Merge
            Dreamland!
        </p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img loading="lazy" src="../img/diaries/1-1@1x.jpg"
                        srcset="../img/diaries/1-1@1x.jpg 1x, ../img/diaries/1-1@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="../img/diaries/1-2@1x.jpg"
                        srcset="../img/diaries/1-1@1x.jpg 1x, ../img/diaries/1-2@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="../img/diaries/1-3@1x.jpg"
                        srcset="../img/diaries/1-1@1x.jpg 1x, ../img/diaries/1-3@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="../img/diaries/1-4@1x.jpg"
                        srcset="../img/diaries/1-1@1x.jpg 1x, ../img/diaries/1-4@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>

            </div>
        </div>
    </div>
</section>