<section class="modders">
    <div class="container section">
        <h2 class="maintitle">Modders Corner</h2>
        <p class="secondtitle"><span>Customize Your Dreamland – Community Modding Hub</span><br>
            We believe in empowering our players to shape their own magical worlds. That’s why we support modding in
            Merge
            Dreamland! In this section, you’ll find:
        </p>
        <ul class="list">
            <li class="item card-1">
                <div class="item-circle modders-circle">
                    <h3 class="item-title">User-Created<br>
                        Content</h3>
                </div>
                <div class="item-content modders-content">
                    <p class="item-text">Showcasing the best community-created assets, from new items to custom
                        themes.
                    </p>
                </div>
            </li>


            <li class="item card-2">
                <div class="item-circle modders-circle">
                    <h3 class="item-title">Official<br>
                        Modding<br>Tools</h3>
                </div>
                <div class="item-content modders-content">
                    <p class="item-text">A guide to our in-game modding support and how you can start creating.
                    </p>
                </div>
            </li>


            <li class="item card-3">
                <div class="item-circle modders-circle">
                    <h3 class="item-title">Modder<br>Spotlights</h3>
                </div>
                <div class="item-content modders-content">
                    <p class="item-text">Featuring standout modders and their contributions to the Merge
                        Dreamland universe.</p>
                </div>
            </li>


            <li class="item card-4">
                <div class="item-circle modders-circle">
                    <h3 class="item-title">Developer<br> Tips</h3>
                </div>
                <div class="item-content modders-content">
                    <p class="item-text">Insights from our team on best practices for modding and integrating
                        new content.
                    </p>
                </div>
            </li>
        </ul>
        <p class="text-action">Got a great idea? Submit your mod and become part of the Merge Dreamland creative
            community!

        </p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/modders/3-1@1x.jpg"
                        srcset="/img/modders/3-1@1x.jpg 1x, /img/modders/3-1@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/modders/3-2@1x.jpg"
                        srcset="/img/modders/3-2@1x.jpg 1x, /img/modders/3-2@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/modders/3-3@1x.jpg"
                        srcset="/img/modders/3-3@1x.jpg 1x, /img/modders/3-3@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>


            </div>
        </div>
    </div>
</section>