<section class="about">
    <div class="container section">
        <h2 class="maintitle">About the Game</h2>
        <p class="secondtitle"><span>A Magical Merging Adventure Awaits!</span><br>

            Merge Dreamland is an offline puzzle adventure where you combine items to unlock magical realms. Dive into a
            world
            filled with mysteries, enchantment, and limitless creativity.
            Key Features:

        </p>
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper list">
                <div class="swiper-slide">
                    <div class="item-wrapper-reverse">
                        <div class="item card-1">
                            <div class="item-circleReverse about-circle">
                                <h3 class="item-title">Merge to<br>
                                    Progress</h3>
                            </div>
                            <div class="item-contentReverse about-content">
                                <p class="item-text">Match, merge, and upgrade items to expand your dreamland.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-wrapper-reverse">
                        <div class="item card-2">
                            <div class="item-circleReverse about-circle">
                                <h3 class="item-title">Explore a<br>
                                    Magical<br>World</h3>
                            </div>
                            <div class="item-contentReverse about-content">
                                <p class="item-text">Unlock breathtaking realms, each with its own story.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-wrapper-reverse">
                        <div class="item card-3">
                            <div class="item-circleReverse about-circle">
                                <h3 class="item-title">Engaging<br>Quests</h3>
                            </div>
                            <div class="item-contentReverse about-content">
                                <p class="item-text">Solve puzzles and complete challenges to earn exclusive rewards..
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-wrapper-reverse">
                        <div class="item card-4">
                            <div class="item-circleReverse about-circle">
                                <h3 class="item-title">Offline<br>Play</h3>
                            </div>
                            <div class="item-contentReverse about-content">
                                <p class="item-text">No internet? No problem! Play anywhere, anytime.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item-wrapper-reverse">
                        <div class="item card-5">
                            <div class="item-circleReverse about-circle">
                                <h3 class="item-title">Events &<br>Surprises</h3>
                            </div>
                            <div class="item-contentReverse about-content">
                                <p class="item-text">Limited-time events with unique items and challenges.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <p class="text-action">Start your adventure today and turn dreams into reality!
        </p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/about/4-1@1x.jpg"
                        srcset="/img/about/4-1@1x.jpg 1x, /img/about/4-1@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/about/4-2@1x.jpg"
                        srcset="/img/about/4-2@1x.jpg 1x, /img/about/4-2@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/about/4-3@1x.jpg"
                        srcset="/img/about/4-3@1x.jpg 1x, /img/about/4-3@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/about/4-4@1x.jpg"
                        srcset="/img/about/4-4@1x.jpg 1x, /img/about/4-4@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/about/4-5@1x.jpg"
                        srcset="/img/about/4-5@1x.jpg 1x, /img/about/4-5@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
            </div>
        </div>
    </div>
</section>