<section class="day">
    <div class="container section">
        <h2 class="maintitle">Day in the Game</h2>
        <p class="secondtitle"><span>What Happens in a Single Day in Merge Dreamland?</span><br>
            Step into the shoes of an adventurer in Merge Dreamland and experience a full day in this magical world:
        </p>
        <ul class="list">
            <li class="item card-1">
                <div class="item-circle day-circle">
                    <h3 class="item-title">Morning</h3>
                </div>
                <div class="item-content day-content">
                    <p class="item-text">The dreamland awakens! Players begin their journey by collecting
                        resources and merging items to reveal new
                        possibilities.
                    </p>
                </div>
            </li>


            <li class="item card-2">
                <div class="item-circle day-circle">
                    <h3 class="item-title">Afternoon</h3>
                </div>
                <div class="item-content day-content">
                    <p class="item-text">Mysterious events unfold. Hidden areas unlock, new creatures emerge,
                        and players strategize their merges for maximum
                        rewards.
                    </p>
                </div>
            </li>


            <li class="item card-3">
                <div class="item-circle day-circle">
                    <h3 class="item-title">Evening</h3>
                </div>
                <div class="item-content day-content">
                    <p class="item-text">In-depth explanations of the most exciting gameplay mechanics.</p>
                </div>
            </li>


            <li class="item card-4">
                <div class="item-circle day-circle">
                    <h3 class="item-title">Night</h3>
                </div>
                <div class="item-content day-content">
                    <p class="item-text">The world resets, treasures respawn, and players prepare for a new
                        magical day ahead.
                    </p>
                </div>
            </li>
        </ul>
        <p class="text-action">Each day in Merge Dreamland is a new opportunity to explore, discover, and
            create!
        </p>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/day/5-1@1x.jpg"
                        srcset="/img/day/5-1@1x.jpg 1x, /img/day/5-1@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/day/5-2@1x.jpg"
                        srcset="/img/day/5-2@1x.jpg 1x, /img/day/5-2@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
                <div class="swiper-slide">
                    <img loading="lazy" src="/img/day/5-3@1x.jpg"
                        srcset="/img/day/5-3@1x.jpg 1x, /img/day/5-3@2x.jpg 2x" alt="Screenshot of a game"
                        class="img-swiper">
                </div>
            </div>
        </div>
        <a class="hero-btn-link day-btn" target="_blank" href="">
            <svg class="hero-btn-link-svg" width="24" height="26.5">
                <use href="/img/sprite.svg#icon-icon-google-play"></use>
            </svg>Google Play
        </a>
    </div>
</section>