<div class="footerok">
  <div class="container">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a class="footerok-link" href="./privacy.html">Privacy Policy</a></li>
        <span class="footer-span"></span>
        <li><a class="footerok-link" href="./terms.html">Terms and Conditions</a></li>
        <span class="footer-span"></span>
        <li><a class="footerok-link" href="./cookies.html">Cookies Policy</a></li>
      </ul>
      <ul class="footer-nav-list">
        <li>
          <p class="footerok-text">All rights reserved glowwinnerstar.com</p>
        </li>
        <span class="footer-span"></span>
        <li>
          <p class="footerok-text">2025</p>
        </li>
      </ul>
    </nav>
  </div>
</div>