<div class="footerok">
  <div>
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li><a href="./privacy.html">Privacy Policy</a></li>
        <span class="footer-span"></span>
        <li><a href="./terms.html">Terms and Conditions</a></li>
        <span class="footer-span"></span>
        <li><a href="./cookies.html">Cookies Policy</a></li>
      </ul>
      <ul class="footer-nav-list">
        <li>
          <p>All rights reserved glowwinnerstar.com</p>
        </li>
        <span class="footer-span"></span>
        <li>
          <p>2025</p>
        </li>
      </ul>
    </nav>
  </div>
</div>