// CSS Frameworks
@import 'modern-normalize/modern-normalize.css';
// layout
@import './layout/00-same-sections.scss';
@import './layout/01-header.scss';
@import './layout/02-Hero.scss';
@import './layout/03-DeveloperDiaries.scss';
@import './layout/04-DevelopersFavoriteGames.scss';
@import './layout/05-ModdersCorner.scss';
@import './layout/06-AbouttheGame.scss';
@import './layout/07-DayintheGame.scss';
@import './layout/08-Terms.scss';
@import './layout/11-Footer.scss';


@import './common/breakpoints';
@import './common/mixins';
@import './common/reset';
@import './common/vars';